.gradle/1.7/taskArtifacts/cache.properties
.gradle/1.7/taskArtifacts/cache.properties.lock
.gradle/1.7/taskArtifacts/fileHashes.bin
.gradle/1.7/taskArtifacts/fileSnapshots.bin
.gradle/1.7/taskArtifacts/outputFileStates.bin
.gradle/1.7/taskArtifacts/taskArtifacts.bin
WeatherApp/build/apk/WeatherApp-debug-unaligned.apk
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/BuildConfig.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/DetailActivity.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/MainActivity$1$1.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/MainActivity$1.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/MainActivity$2.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/MainActivity$3.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/MainActivity.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$attr.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$dimen.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$drawable.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$id.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$layout.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$menu.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$string.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$style.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R$xml.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/R.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/modal/WeatherDay.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/urlstore/URLDispatcher.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/urlstore/URLDispatcherListener.class
WeatherApp/build/classes/debug/com/valaypatel/weatherapp/viewcomponent/DateListAdapter.class
WeatherApp/build/incremental/aidl/debug/dependency.store
WeatherApp/build/incremental/aidl/debug/inputs.data
WeatherApp/build/incremental/aidl/debug/outputs.data
WeatherApp/build/incremental/dex/debug/inputs.data
WeatherApp/build/incremental/dex/debug/outputs.data
WeatherApp/build/incremental/mergeAssets/debug/inputs.data
WeatherApp/build/incremental/mergeAssets/debug/merger.xml
WeatherApp/build/incremental/mergeAssets/debug/outputs.data
WeatherApp/build/incremental/mergeResources/debug/inputs.data
WeatherApp/build/incremental/mergeResources/debug/merger.xml
WeatherApp/build/incremental/mergeResources/debug/outputs.data
WeatherApp/build/libs/WeatherApp-debug.ap_
WeatherApp/build/libs/WeatherApp-debug.dex
WeatherApp/build/manifests/debug/AndroidManifest.xml
WeatherApp/build/res/all/debug/drawable-hdpi/ic_launcher.png
WeatherApp/build/res/all/debug/drawable-mdpi/ic_launcher.png
WeatherApp/build/res/all/debug/drawable-xhdpi/ic_launcher.png
WeatherApp/build/res/all/debug/drawable-xxhdpi/ic_launcher.png
WeatherApp/build/res/all/debug/layout/activity_detail.xml
WeatherApp/build/res/all/debug/layout/activity_main.xml
WeatherApp/build/res/all/debug/layout/days_list.xml
WeatherApp/build/res/all/debug/menu/detail.xml
WeatherApp/build/res/all/debug/menu/main.xml
WeatherApp/build/res/all/debug/values-sw720dp-land/values.xml
WeatherApp/build/res/all/debug/values-v11/values.xml
WeatherApp/build/res/all/debug/values-v14/values.xml
WeatherApp/build/res/all/debug/values/values.xml
WeatherApp/build/res/all/debug/xml/searchable.xml
WeatherApp/build/source/buildConfig/debug/com/valaypatel/weatherapp/BuildConfig.java
WeatherApp/build/source/r/debug/com/valaypatel/weatherapp/R.java
